/* dashboard.css */

.action-button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1px;
}

.action-button:hover {
    -fx-background-color: #4682B4;
}
